@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Sarabun', sans-serif;
  }
  
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
    @apply dark:bg-slate-950 dark:text-slate-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded hover:bg-slate-400;
  @apply dark:bg-slate-700 dark:hover:bg-slate-600;
}